version: 2

updates:
  - package-ecosystem: "uv"
    cooldown:
      default-days: 7
      semver-major-days: 14
    directory: "/"
    schedule:
      interval: "weekly"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    # Workflow files stored in the default location of `.github/workflows`
    # You don't need to specify `/.github/workflows` for `directory`. You can use `directory: "/"`.
    # cooldown is not supported
    directory: "/"
    schedule:
      interval: "weekly"
